<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <!-- CSS -->
    <!-- CSS -->
    <!--import du fichier CSS-->

    <link rel="stylesheet" href="assets/style.css" />
</head>


<body>
    <div id="app">


        <!--Section Panier-->
        <div class="cart">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Votre commande</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ title }}</td>
                        <td>{{ nbrProduct }}</td>
                    </tr>
                    <tr>
                        <td>Code Promo</td>
                        <td class="code-promo">
                            <input v-model="promo" type="text" placeholder="Ajouter un code promo" />
                        </td>
                    </tr>
                    <tr>
                        <td>Total à payer</td>
                        <td>
                            <div v-if="promo === 'margarita'">
                                (-3€)
                                <span class="sale" style="text-decoration: line-through;">{{totalPrice}}</span>
                                {{totalPrice -3}} €
                            </div>
                            <div v-else style="color: red">
                                {{ totalPrice }} €
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>



        <!-- Selection Produit-->
        <div class="product-section">

            <div class="product-image">
                <img class="topbar-img" :src="image" />
                <!--v-bind fait la liaison d'attribut, l'attribut html se transforme en JS-->
            </div>

            <!--Description du produit-->
            <div class="product-description">
                <h1>{{ title }}</h1>
                <p v-show="notAvailable">Momentanément indisponible</p>
                <!--La directive v-show affichera l'élément sur lequel il est placé si ça condition "est vraie" -->
                <p v-if="sale">
                    <span class="sale" style="text-decoration: line-through;">{{ price }} € </span>
                    <br>
                    <span class="new-price" style="color:red">{{ price - 5 }} €</span>
                </p>
                <p v-else>
                    <span class="price" style="color: red; text-decoration: underline;">{{ price }} €</span>
                </p>
            </div>
        </div>
        <br>

        <strong>Ingrédients</strong>
        <div>
            <span v-for="(ingredient, index) in ingredients" :key="index">{{ ingredient + " , " }}</span>
            <!-- v-for va répliquer la balise danslaquelle elle est placée autant de fois que la boucle fait des tours // la variable 'ingrédient' va prendre à chaque tours de boucle, l'élément de l'index du tableaux 'ingredients': olives puis poulet...jusqu'a ce que le tableau totalement parcourru // Nous avons préutilisé la variable 'ingrédient' dans une interpolation afin de l'afficher  -->
        </div>

        <br>

        <div class='sauces'>
            <strong>Sauce au choix</strong>
            <ul>
                <li v-for="sauce in sauces" :key="sauce.id" @mouseover="updateImage(sauce.image)"> {{ sauce.type }}</li>
                <!--Le @ est un racourcis de la directive v-on-->
            </ul>
        </div>

        <div>
            <strong>Valeurs nutritionnelles pour 100 grammes</strong>
            <ul>
                <li v-for="(value, name, index) in energy" :key="index"> {{ name }} : {{ value }}</li>
            </ul>
        </div>

        <button @click="addProduct()">Ajouter à ma commande</button>
        <!--La directive v-on ecoute un evenement onclick et déclanche une expression JS qui est nbrProduct-->
    </div>



    <!-- JS -->
    <!-- JS -->

    <script src="https://unpkg.com/vue@next"></script>
    <!--installation de Vue dans notre app par lien CDN-->
    <script src="main.js"></script>
    <!--import du fichier js-->
    <script>
        const mountApp = app.mount("#app");
    </script>
    <!--Nous prenons la variable 'app' dans laquelle nous avons stocké notre application Vue, nous luis passons la méthode mount() qui prendra comme argument, les éléments du DOM. Avec #app notre instance est liée à la div ci dessus ayant comme id 'app' et ainsi tout le code de notre instance sera actif à l'intereieur de cette div.-->

</body>

</html>